In [44]:
import os
import pandas as pd
import datetime

In [45]:
path = 'E:/BD_Class/Downloads'
p_list = os.listdir(path)
dt_list = [i[-13:-7] for i in p_list]
print(p_list,dt_list)

['어린이집기본정보조회(정기)-기준일(20160930).xls', '어린이집기본정보조회(정기)-기준일(20161031).xls', '어린이집기본정보조회(정기)-기준일(20161130).xls', '어린이집기본정보조회(정기)-기준일(20161231).xls', '어린이집기본정보조회(정기)-기준일(20170131).xls', '어린이집기본정보조회(정기)-기준일(20170228).xls', '어린이집기본정보조회(정기)-기준일(20170331).xls', '어린이집기본정보조회(정기)-기준일(20170430).xls', '어린이집기본정보조회(정기)-기준일(20170531).xls', '어린이집기본정보조회(정기)-기준일(20170630).xls', '어린이집기본정보조회(정기)-기준일(20170731).xls', '어린이집기본정보조회(정기)-기준일(20170831).xls', '어린이집기본정보조회(정기)-기준일(20170930).xls', '어린이집기본정보조회(정기)-기준일(20171031).xls', '어린이집기본정보조회(정기)-기준일(20171130).xls', '어린이집기본정보조회(정기)-기준일(20171231).xls', '어린이집기본정보조회(정기)-기준일(20180131).xls', '어린이집기본정보조회(정기)-기준일(20180228).xls', '어린이집기본정보조회(정기)-기준일(20180331).xls', '어린이집기본정보조회(정기)-기준일(20180430).xls', '어린이집기본정보조회(정기)-기준일(20180531).xls', '어린이집기본정보조회(정기)-기준일(20180630).xls', '어린이집기본정보조회(정기)-기준일(20180731).xls', '어린이집기본정보조회(정기)-기준일(20180831).xls', '어린이집기본정보조회(정기)-기준일(20180930).xls', '어린이집기본정보조회(정기)-기준일(20181031).xls', '어린이집기본정보조회(정기)-기준일(20181130).xls', '어린이집기본정보조회(정기)-기준일(20181231).xls', '어린이집기본정보조회(정기)-기준일(20190131).xls', '어린이집기본정보조회(정기)-기준일(20190228).xls', '어린이집기본정보조회(정기)-기준일(20190331).xls', '어린이집기본정보조회(정기)-기준일(20190430).xls', '어린이집기본정보조회(정기)-기준일(20190531).xls', '어린이집기본정보조회(정기)-기준일(20190630).xls', '어린이집기본정보조회(정기)-기준일(20190731).xls', '어린이집기본정보조회(정기)-기준일(20190831).xls', '어린이집기본정보조회(정기)-기준일(20190930).xls', '어린이집기본정보조회(정기)-기준일(20191031).xls', '어린이집기본정보조회(정기)-기준일(20191130).xls', '어린이집기본정보조회(정기)-기준일(20191231).xls', '어린이집기본정보조회(정기)-기준일(20200131).xls', '어린이집기본정보조회(정기)-기준일(20200229).xls', '어린이집기본정보조회(정기)-기준일(20200331).xls', '어린이집기본정보조회(정기)-기준일(20200430).xls', '어린이집기본정보조회(정기)-기준일(20200531).xls', '어린이집기본정보조회(정기)-기준일(20200630).xls', '어린이집기본정보조회(정기)-기준일(20200731).xls', '어린이집기본정보조회(정기)-기준일(20200831).xls'] ['201609', '201610', '201611', '201612', '201701', '201702', '201703', '201704', '201705', '201706', '201707', '201708', '201709', '201710', '201711', '201712', '201801', '201802', '201803', '201804', '201805', '201806', '201807', '201808', '201809', '201810', '201811', '201812', '201901', '201902', '201903', '201904', '201905', '201906', '201907', '201908', '201909', '201910', '201911', '201912', '202001', '202002', '202003', '202004', '202005', '202006', '202007', '202008']

In [46]:
dic = dict()
for j in p_list:
    path = 'E:/BD_Class/Downloads'
    data = pd.read_excel(path+'/'+j)
    data['ops_day'] = datetime.date(int(j[-13:-9]),int(j[-9:-7]),int(j[-7:-5]))
    dic[j[-13:-7]] = data

In [47]:
dic.keys()

dict_keys(['201609', '201610', '201611', '201612', '201701', '201702', '201703', '201704', '201705', '201706', '201707', '201708', '201709', '201710', '201711', '201712', '201801', '201802', '201803', '201804', '201805', '201806', '201807', '201808', '201809', '201810', '201811', '201812', '201901', '201902', '201903', '201904', '201905', '201906', '201907', '201908', '201909', '201910', '201911', '201912', '202001', '202002', '202003', '202004', '202005', '202006', '202007', '202008'])

In [48]:
columns = dic['201609'].columns.to_list()
columns

['시도',
 '시군구',
 '어린이집명',
 '어린이집유형',
 '운영현황',
 '우편번호',
 '주소',
 '전화번호',
 '팩스번호',
 '보육실수',
 '보육실면적',
 '놀이터수',
 '보육교직원수',
 '정원',
 '현원',
 '위도',
 '경도',
 '통학차량운영여부',
 '홈페이지주소',
 '인가일자',
 '휴지시작일자',
 '휴지종료일자',
 '폐지일자',
 'ops_day']

In [49]:
len(columns)

24

In [50]:
dic['201609'].head(1)

,시도,시군구,어린이집명,어린이집유형,운영현황,우편번호,주소,전화번호,팩스번호,보육실수,...,현원,위도,경도,통학차량운영여부,홈페이지주소,인가일자,휴지시작일자,휴지종료일자,폐지일자,ops_day
0,서울특별시,종로구,이화어린이집,민간,정상,3123,서울특별시 종로구 율곡로20길 3 (충신동),02-747-2686,02-747-2252,6,...,61,38.0,127.0,운영,NaN,2004-05-03,NaN,NaN,NaN,2016-09-30

In [51]:
temp = []
for j in dt_list:
    temp.append(dic[j])

In [52]:
df = pd.concat(temp)

In [53]:
df.운영현황.value_counts()

정상    281358
폐지    119534
휴지      9075
재개      5788
Name: 운영현황, dtype: int64

In [54]:
df_o =df[(df.운영현황 == '정상')|(df.운영현황 =='재개')]

In [55]:
df_o.to_csv('어린이집_정상운영.csv')

In [57]:
cls = ['sido', 'sigungu', 'name', 'ty_pe', 'ops', 'post', 'adr', 'phone', 'fax', 'rooms', 'sqm', 'playground',
 'teachers', 'no_capa', 'no_enroll', 'lng', 'lon', 'bus', 'web', 's_d', 'brk_s_d', 'brk_e_d', 'e_d','ops_day']
df.columns = cls # db 변환 위해 컬럼명 영어로 변경
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415868 entries, 0 to 9061
Data columns (total 24 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sido        415868 non-null  object
 1   sigungu     415868 non-null  object
 2   name        415868 non-null  object
 3   ty_pe       415868 non-null  object
 4   ops         415755 non-null  object
 5   post        415868 non-null  int64
 6   adr         415868 non-null  object
 7   phone       415868 non-null  object
 8   fax         415868 non-null  object
 9   rooms       415868 non-null  int64
 10  sqm         415868 non-null  int64
 11  playground  415868 non-null  int64
 12  teachers    415868 non-null  int64
 13  no_capa     415868 non-null  int64
 14  no_enroll   415868 non-null  int64
 15  lng         385696 non-null  float64
 16  lon         385696 non-null  float64
 17  bus         377482 non-null  object
 18  web         115924 non-null  object
 19  s_d         415052 non-null  object
 20  brk_s_d     9066 non-null    object
 21  brk_e_d     8534 non-null    object
 22  e_d         117476 non-null  object
 23  ops_day     415868 non-null  object
dtypes: float64(2), int64(7), object(15)
memory usage: 79.3+ MB

In [59]:
# 날짜, 숫자 변환 함수
def dt(name):
    df[name] = pd.to_datetime(df[name]) # 날짜로 변환
def it(name):
    df[name] = df[name].astype(int) # 정수로 변환
def fl(name):
    df[name] = df[name].astype(float) # 실수로 변환
def com(name):
    df[name] = df[name].apply(lambda x : x.replace(',','')) # 쉼표 없애줌
# li_f = df.columns.to_list() # 변경 원하는 컬럼을 리스트로 담아줌
li_d = [ 's_d', 'brk_s_d', 'brk_e_d', 'e_d','ops_day']
for i in li_d: #컬럼별로 돌아가면서 일괄 변환
    dt(i)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415868 entries, 0 to 9061
Data columns (total 24 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sido        415868 non-null  object
 1   sigungu     415868 non-null  object
 2   name        415868 non-null  object
 3   ty_pe       415868 non-null  object
 4   ops         415755 non-null  object
 5   post        415868 non-null  int64
 6   adr         415868 non-null  object
 7   phone       415868 non-null  object
 8   fax         415868 non-null  object
 9   rooms       415868 non-null  int64
 10  sqm         415868 non-null  int64
 11  playground  415868 non-null  int64
 12  teachers    415868 non-null  int64
 13  no_capa     415868 non-null  int64
 14  no_enroll   415868 non-null  int64
 15  lng         385696 non-null  float64
 16  lon         385696 non-null  float64
 17  bus         377482 non-null  object
 18  web         115924 non-null  object
 19  s_d         415052 non-null  datetime64[ns]
 20  brk_s_d     9066 non-null    datetime64[ns]
 21  brk_e_d     8534 non-null    datetime64[ns]
 22  e_d         117476 non-null  datetime64[ns]
 23  ops_day     415868 non-null  datetime64[ns]
dtypes: datetime64[ns](5), float64(2), int64(7), object(10)
memory usage: 79.3+ MB

In [60]:
import pymysql
url = 'bigdata.cpnqnxkxfbaf.ap-northeast-2.rds.amazonaws.com' 
usr = 'bigdata'
pwd = 'bigdata2020'
db = 'bigdata'
charset = 'utf8'

In [62]:
# 데이터 db로 보내기
from sqlalchemy import create_engine

pymysql.install_as_MySQLdb()

engine = create_engine(f'mysql://{usr}:{pwd}@{url}:3306/{db}')
df.to_sql(name='chome', con=engine, if_exists='append', index=False)

In [ ]:
sql = 'select * from chome'
mdata = pd.read_sql_query(sql,engine)

In [81]:
df

,sido,sigungu,name,ty_pe,ops,post,adr,phone,fax,rooms,...,no_enroll,lng,lon,bus,web,s_d,brk_s_d,brk_e_d,e_d,ops_day
0,서울특별시,종로구,이화어린이집,민간,정상,3123,서울특별시 종로구 율곡로20길 3 (충신동),02-747-2686,02-747-2252,6,...,61,38.000000,127.000000,운영,NaN,2004-05-03,NaT,NaT,NaT,2016-09-30
1,서울특별시,종로구,삼청어린이집,국공립,정상,3049,서울특별시 종로구 삼청로7길 26 (팔판동),02-723-0155,02-723-0155,3,...,32,38.000000,127.000000,미운영,http://cafe.naver.com/samchung1004,1999-09-01,NaT,NaT,NaT,2016-09-30
2,서울특별시,종로구,창신어린이집,사회복지법인,정상,3105,서울특별시 종로구 창신5길 22 (창신동),02-743-6302,02-743-6302,4,...,48,38.000000,127.000000,운영,http://changsin.ukid.kr,1978-12-01,NaT,NaT,NaT,2016-09-30
3,서울특별시,종로구,아동회관어린이집,국공립,정상,3094,서울특별시 종로구 지봉로13길 14 아동회관어린이집,02-763-6038,050-5845-6038,6,...,71,38.000000,127.000000,미운영,NaN,1988-10-01,NaT,NaT,NaT,2016-09-30
4,서울특별시,종로구,부암어린이집,국공립,정상,3019,서울특별시 종로구 세검정로6다길 10-7,02-396-6226,02-396-6227,5,...,80,38.000000,127.000000,운영,www.buarm.co.kr,1998-07-29,NaT,NaT,NaT,2016-09-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9057,서울특별시,강동구,구립아르테온보나어린이집,국공립,정상,5274,서울특별시 강동구 고덕로 360 고덕아르테온 339동 인근 관리동,02-442-2022,--,4,...,21,37.566470,126.977963,미운영,NaN,2020-02-20,NaT,NaT,NaT,2020-08-31
9058,서울특별시,강동구,구립아르테온보예어린이집,국공립,정상,5274,서울특별시 강동구 고덕로 360 고덕아르테온아파트 319동 1층(상일동),02-6925-5642,02-6925-5641,6,...,82,37.555435,127.168334,미운영,NaN,2020-02-20,NaT,NaT,NaT,2020-08-31
9059,서울특별시,강동구,이삭숲어린이집,민간,정상,5219,서울특별시 강동구 동남로82길 29-8 이삭숲어린이집,02-441-2914,02-442-2914,6,...,35,37.560940,127.158698,운영,NaN,2020-05-06,NaT,NaT,NaT,2020-08-31
9060,서울특별시,강동구,구립에코포레어린이집,국공립,정상,5300,서울특별시 강동구 천중로 253 이편한세상강동에코포레아파트 관리동 1층,02-470-0633,--,3,...,26,37.566470,126.977963,NaN,NaN,2020-06-01,NaT,NaT,NaT,2020-08-31
9061,서울특별시,강동구,구립강동든든어린이집,국공립,정상,5201,서울특별시 강동구 아리수로93가길 110 관리동,02-0000-0000,--,6,...,0,37.566470,126.977963,미운영,NaN,2020-07-17,NaT,NaT,NaT,2020-08-31

In [80]:
adr = [i for i in df.adr.values]

In [83]:
df.to_csv('어린이집_전체.csv')

In [ ]:
key = 'devU01TX0FVVEgyMDIwMDkyNTE4MjUwODExMDIzNTA=''
url = '	http://www.juso.go.kr/addrlink/addrLinkUrl.do'

In [ ]:
# 지오코더 주소
'http://www.gisdeveloper.co.kr/?p=4784'

In [6]:
import pandas as pd
df = pd.read_csv(r'E:\BD_Class\BD_Class\0925\어린이집_전체.csv',encoding='ansi')
df.head()

C:\Users\tjoeun\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,sido,sigungu,name,ty_pe,ops,post,adr,phone,fax,...,no_enroll,lng,lon,bus,web,s_d,brk_s_d,brk_e_d,e_d,ops_day
0,0,서울특별시,종로구,이화어린이집,민간,정상,3123,서울특별시 종로구 율곡로20길 3 (충신동),02-747-2686,02-747-2252,...,61,37.489,127.038,운영,NaN,2004-05-03,NaN,NaN,NaN,2016-09-30
1,1,서울특별시,종로구,삼청어린이집,국공립,정상,3049,서울특별시 종로구 삼청로7길 26 (팔판동),02-723-0155,02-723-0155,...,32,37.584,126.980,미운영,http://cafe.naver.com/samchung1004,1999-09-01,NaN,NaN,NaN,2016-09-30
2,2,서울특별시,종로구,창신어린이집,사회복지법인,정상,3105,서울특별시 종로구 창신5길 22 (창신동),02-743-6302,02-743-6302,...,48,37.574,127.012,운영,http://changsin.ukid.kr,1978-12-01,NaN,NaN,NaN,2016-09-30
3,3,서울특별시,종로구,아동회관어린이집,국공립,정상,3094,서울특별시 종로구 지봉로13길 14 아동회관어린이집,02-763-6038,050-5845-6038,...,71,37.578,127.012,미운영,NaN,1988-10-01,NaN,NaN,NaN,2016-09-30
4,4,서울특별시,종로구,부암어린이집,국공립,정상,3019,서울특별시 종로구 세검정로6다길 10-7,02-396-6226,02-396-6227,...,80,37.602,126.963,운영,www.buarm.co.kr,1998-07-29,NaN,NaN,NaN,2016-09-30

In [10]:
df.columns

Index(['Unnamed: 0', 'sido', 'sigungu', 'name', 'ty_pe', 'ops', 'post', 'adr',
       'phone', 'fax', 'rooms', 'sqm', 'playground', 'teachers', 'no_capa',
       'no_enroll', ' lng ', ' lon ', 'bus', 'web', 's_d', 'brk_s_d',
       'brk_e_d', 'e_d', 'ops_day'],
      dtype='object')

In [12]:
df1 = df[['name',' lng ',' lon ']]
df1.columns = ['OWNER','lng','lon']
df1.head(4)

      OWNER       lng        lon
0    이화어린이집   37.489    127.038
1    삼청어린이집   37.584    126.980
2    창신어린이집   37.574    127.012
3  아동회관어린이집   37.578    127.012

In [15]:
df1.to_csv('df.csv',encoding='euc-kr')