In [1]:
import os
import pandas as pd
import datetime

In [21]:
path1 = 'E:/BD_Class/project/02. 아파트 전월세'
path2 = 'E:/BD_Class/project/04. 연립다세대 전월세'
path3 = 'E:/BD_Class/project/06. 단독다가구 전월세'
p_list1 = os.listdir(path1)
p_list2 = os.listdir(path2)
p_list3 = os.listdir(path3)

In [22]:
import shutil

In [23]:
for file in p_list1:
    source_file = path1+'/'+file
    destination_path = 'E:/BD_Class/project/전월세'
    shutil.copy2(source_file,destination_path)
for file in p_list2:
    source_file =  path2+'/'+file
    destination_path = 'E:/BD_Class/project/전월세'
    shutil.copy2(source_file,destination_path)
for file in p_list3:
    source_file =  path3+'/'+file
    destination_path = 'E:/BD_Class/project/전월세'
    shutil.copy2(source_file,destination_path)
p_list = p_list1+p_list2+p_list3
gu_list = []
for gu in p_list:
    gu_list.append(gu.split('(')[0].split('.')[1][1:])

# dt_list = [i[-13:-7] for i in p_list]
print(p_list,gu_list)

['01. 종로구(아파트 전월세)_2010_2019.csv', '02. 중구(아파트 전월세)_2010_2019.csv', '03. 용산구(아파트 전월세)_2010_2019.csv', '04. 성동구(아파트 전월세)_2010_2019.csv', '05. 광진구(아파트 전월세)_2010_2019.csv', '06. 동대문구(아파트 전월세)_2010_2019.csv', '07. 중랑구(아파트 전월세)_2010_2019.csv', '08. 성북구(아파트 전월세)_2010_2019.csv', '09. 강북구(아파트 전월세)_2010_2019.csv', '10. 도봉구(아파트 전월세)_2010_2019.csv', '11. 노원구(아파트 전월세)_2010_2019.csv', '12. 은평구(아파트 전월세)_2010_2019.csv', '13. 서대문구(아파트 전월세)_2010_2019.csv', '14. 마포구(아파트 전월세)_2010_2019.csv', '15. 양천구(아파트 전월세)_2010_2019.csv', '16. 강서구(아파트 전월세)_2010_2019.csv', '17. 구로구(아파트 전월세)_2010_2019.csv', '18. 금천구(아파트 전월세)_2010_2019.csv', '19. 영등포구(아파트 전월세)_2010_2019.csv', '20. 동작구(아파트 전월세)_2010_2019.csv', '21. 관악구(아파트 전월세)_2010_2019.csv', '22. 서초구(아파트 전월세)_2010_2019.csv', '23. 강남구(아파트 전월세)_2010_2019.csv', '24. 송파구(아파트 전월세)_2010_2019.csv', '25. 강동구(아파트 전월세)_2010_2019.csv', '01. 종로구(연립다세대 전월세)_2010_2019.csv', '02. 중구(연립다세대 전월세)_2010_2019.csv', '03. 용산구(연립다세대 전월세)_2010_2019.csv', '04. 성동구(연립다세대 전월세)_2010_2019.csv', '05. 광진구(연립다세대 전월세)_2010_2019.csv', '06. 동대문구(연립다세대 전월세)_2010_2019.csv', '07. 중랑구(연립다세대 전월세)_2010_2019.csv', '08. 성북구(연립다세대 전월세)_2010_2019.csv', '09. 강북구(연립다세대 전월세)_2010_2019.csv', '10. 도봉구(연립다세대 전월세)_2010_2019.csv', '11. 노원구(연립다세대 전월세)_2010_2019.csv', '12. 은평구(연립다세대 전월세)_2010_2019.csv', '13. 서대문구(연립다세대 전월세)_2010_2019.csv', '14. 마포구(연립다세대 전월세)_2010_2019.csv', '15. 양천구(연립다세대 전월세)_2010_2019.csv', '16. 강서구(연립다세대 전월세)_2010_2019.csv.csv', '17. 구로구(연립다세대 전월세)_2010_2019.csv', '18. 금천구(연립다세대 전월세)_2010_2019.csv', '19. 영등포구(연립다세대 전월세)_2010_2019.csv', '20. 동작구(연립다세대 전월세)_2010_2019.csv', '21. 관악구(연립다세대 전월세)_2010_2019.csv', '22. 서초구(연립다세대 전월세)_2010_2019.csv', '23. 강남구(연립다세대 전월세)_2010_2019.csv', '24. 송파구(연립다세대 전월세)_2010_2019.csv', '25. 강동구(연립다세대 전월세)_2010_2019.csv', '01. 종로구(단독다가구 전월세)_2010_2019.csv', '02. 중구(단독다가구 전월세)_2010_2019.csv', '03. 용산구(단독다가구 전월세)_2010_2019.csv', '04. 성동구(단독다가구 전월세)_2010_2019.csv', '05. 광진구(단독다가구 전월세)_2010_2019.csv', '06. 동대문구(단독다가구 전월세)_2010_2019.csv', '07. 중랑구(단독다가구 전월세)_2010_2019.csv', '08. 성북구(단독다가구 전월세)_2010_2019.csv', '09. 강북구(단독다가구 전월세)_2010_2019.csv', '10. 도봉구(단독다가구 전월세)_2010_2019.csv', '11. 노원구(단독다가구 전월세)_2010_2019.csv', '12. 은평구(단독다가구 전월세)_2010_2019.csv', '13. 서대문구(단독다가구 전월세)_2010_2019.csv', '14. 마포구(단독다가구 전월세)_2010_2019.csv', '15. 양천구(단독다가구 전월세)_2010_2019.csv', '16. 강서구(단독다가구 전월세)_2010_2019.csv.csv', '17. 구로구(단독다가구 전월세)_2010_2019.csv', '18. 금천구(단독다가구 전월세)_2010_2019.csv', '19. 영등포구(단독다가구 전월세)_2010_2019.csv', '20. 동작구(단독다가구 전월세)_2010_2019.csv', '21. 관악구(단독다가구 전월세)_2010_2019.csv', '22. 서초구(단독다가구 전월세)_2010_2019.csv', '23. 강남구(단독다가구 전월세)_2010_2019.csv', '24. 송파구(단독다가구 전월세)_2010_2019.csv', '25. 강동구(단독다가구 전월세)_2010_2019.csv'] ['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구']

In [24]:
pd.read_csv(destination_path+'/'+'01. 종로구(단독다가구 전월세)_2010_2019.csv',encoding='euc-kr')

         건축년도    계약면적     년  법정동    보증금액   월  월세금액   일   지역코드
0      1996.0   33.00  2011  청운동   6,000   1     0  20  11110
1      2000.0  146.32  2011  청운동  30,000   1     0  26  11110
2         NaN   50.00  2011  신교동   7,000   1     0   8  11110
3      1996.0   85.44  2011  신교동  10,000   1    70  13  11110
4         NaN   47.80  2011  신교동   5,500   1    50  19  11110
...       ...     ...   ...  ...     ...  ..   ...  ..    ...
19426  1998.0  166.89  2019  부암동   3,000  12    40  24  11110
19427  1990.0   42.16  2019  부암동   1,000  12    61  29  11110
19428  1979.0  127.93  2019  홍지동  49,000  12     0  19  11110
19429  1985.0   43.00  2019  신영동   1,000  12    40   1  11110
19430     NaN   42.00  2019  신영동   2,000  12    50  30  11110

[19431 rows x 9 columns]

In [25]:
dic = dict()
for gu, gu_file in zip(gu_list,p_list):
    dic[gu]=pd.read_csv(destination_path+'/'+gu_file,encoding='euc-kr')

C:\Users\tjoeun\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
dic['종로구']

         건축년도    계약면적     년  법정동    보증금액   월  월세금액   일   지역코드
0      1996.0   33.00  2011  청운동   6,000   1     0  20  11110
1      2000.0  146.32  2011  청운동  30,000   1     0  26  11110
2         NaN   50.00  2011  신교동   7,000   1     0   8  11110
3      1996.0   85.44  2011  신교동  10,000   1    70  13  11110
4         NaN   47.80  2011  신교동   5,500   1    50  19  11110
...       ...     ...   ...  ...     ...  ..   ...  ..    ...
19426  1998.0  166.89  2019  부암동   3,000  12    40  24  11110
19427  1990.0   42.16  2019  부암동   1,000  12    61  29  11110
19428  1979.0  127.93  2019  홍지동  49,000  12     0  19  11110
19429  1985.0   43.00  2019  신영동   1,000  12    40   1  11110
19430     NaN   42.00  2019  신영동   2,000  12    50  30  11110

[19431 rows x 9 columns]

In [28]:
temp = []
for j in gu_list:
    temp.append(dic[j])

In [29]:
df = pd.concat(temp)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3519876 entries, 0 to 59572
Data columns (total 9 columns):
 #   Column  Dtype
---  ------  -----
 0   건축년도    float64
 1   계약면적    float64
 2   년       int64
 3   법정동     object
 4   보증금액    object
 5   월       int64
 6   월세금액    object
 7   일       int64
 8   지역코드    int64
dtypes: float64(2), int64(4), object(3)
memory usage: 268.5+ MB

In [34]:
df.to_csv('./pd/확인용.csv',encoding='euc-kr')

In [47]:
df.건축년도[df.건축년도 < 1920] =''

C:\Users\tjoeun\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
df.columns

Index(['건축년도', '계약면적', '년', '법정동', '보증금액', '월', '월세금액', '일', '지역코드'], dtype='object')

In [52]:
df

       건축년도    계약면적     년  법정동    보증금액   월 월세금액   일   지역코드
0      1996   33.00  2011  청운동   6,000   1    0  20  11110
1      2000  146.32  2011  청운동  30,000   1    0  26  11110
2       NaN   50.00  2011  신교동   7,000   1    0   8  11110
3      1996   85.44  2011  신교동  10,000   1   70  13  11110
4       NaN   47.80  2011  신교동   5,500   1   50  19  11110
...     ...     ...   ...  ...     ...  ..  ...  ..    ...
59568  1987   28.00  2019  천호동     200  12   19  28  11740
59569  1997   55.10  2019  천호동   2,000  12   55  28  11740
59570  2012   38.00  2019  천호동  13,500  12    0  30  11740
59571  1991   19.53  2019  천호동   6,000  12    0  31  11740
59572  1987   53.61  2019  천호동  15,000  12    0  31  11740

[3519876 rows x 9 columns]